.main-container {
    /* height: 100vh;  */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

.login-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0; /* Adjusted padding for better alignment */
    margin-top: 5vh;
}

.login-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 580px;
    box-sizing: border-box;
}

.login-head {
    margin-bottom: 45px;
    font-size: 24px;
    font-weight: 400;
}

.login-label {
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
    color: #5E5E5E;
}

.login-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    color: #667085;
}

.login-input:focus {
    outline: none;
}

.login-btn-container {
    display: flex;
    justify-content: center; /* Centers the button */
    margin-top: 5px; /* Reduced margin at the top */
}

.login-btn {
    width: 30%; 
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    background-color: #2F4CDD;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #014082;
}

.login-btn:focus {
    outline: none;
}

.forgot-password-btn {
    background: transparent;
    border: none;
    color: #C49871;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 1rem;
    display: block;
    text-align: center;
}

.forgot-password-btn:hover {
    color: #ca7123;
}

.forgot-password-btn:focus {
    outline: none;
    background-color: transparent;
    border: none;
}

@media (max-width: 576px) {
    .login-form {
        width: 100%;
    }
}
