.table-container {
  background-color: #f8f9fa !important;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.table th,
.table td {
  vertical-align: middle !important;
}

.table thead th {
  background-color: #f1f1f1 !important;
  font-weight: 600;
}
