/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

:root {
  /* Colors */
  --color-bg-main: #faf9f6;
  --color-bg-secondary: #e6dccf;
  --color-primary: #4a3326;

  /* Font */
  --font-primary: "Libre Baskerville", serif;
}

/* Apply globally */
html, body, * {
  font-family: var(--font-primary) !important;
  margin: 0;
}

